@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,800&display=swap");

html {
  font-family: "Work Sans", sans-serif;
  color: #fcfcfc;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
  color: #fcfcfc;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: white;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: underline;
}

h3 {
  letter-spacing: 1px;
  margin: 15px 0;
  letter-spacing: 1.5px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#logo-text {
  position: fixed;
  border-radius: 0;
  z-index: 10;
}

.label {
  margin: 20px 20px;
  border-radius: 50%;
  position: inline-block;
}

.description {
  padding-top: 7vh;
  position: relative;
}

.pics span {
  position: absolute;
  visibility: hidden;
  left: 0;
}

.pics:hover,
.pics:hover span {
  visibility: visible;
  top: 0;
  left: 250px;
  z-index: 1;
}

.purchase {
  margin-bottom: 0;
}

.email {
  background: transparent;
  padding: 2px;
  border: none;
  border-bottom: 1px solid #fcfcfc;
  color: #fcfcfc;
  outline: none;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  width: 48%;
}

strong {
  letter-spacing: 1px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #dddddd;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #dddddd;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #dddddd;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #dddddd;
}

.subscribe {
  color: #fcfcfc;
  background-color: #111111;
  padding: 5px;
  margin-top: 8px;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  width: 50%;
}

.subscribe:hover {
  color: #111111;
  background-color: #fcfcfc;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 100%;
  }
}
